body {
    background: rgb(180,255,250);
    background: linear-gradient(0deg, rgba(180,255,250,1) 21%, rgba(7,114,233,1) 79%);
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Set a background color for the body */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 50px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    width: 107%;
    padding: 10px;
    background-color: #8c7edc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #8c7edc;
}

 .mt-4 {
    margin-top: 20px;
    color: #333;
    margin-top: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

#chat-box {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#message-input {
    width: calc(100% - 70px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#send-btn {
    width: 70px;
    padding: 10px;
    background-color: #8c7edc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #0056b3;
}
